h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
}

p, .link, span {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

.headerMobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #293241;
}
nav #logo {
  width: 40%;
  height: auto;
}
nav .listNavbar {
  display: flex;
  align-items: center;
}
nav .link {
  text-decoration: none;
  padding: 1em;
  color: #E0FBFC;
  border-radius: 0.1em;
  transition: 0.8s;
}
nav .link:hover {
  background-color: #E0FBFC;
  color: #293241;
}

.videoShow {
  object-fit: cover;
  filter: brightness(40%);
}

.overlay {
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 50%;
  color: #E0FBFC;
}
.overlay h2 {
  font-size: 5em;
}
.overlay p {
  font-size: 3em;
}

.greetings p {
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  line-height: 7em;
}

.roomContainer {
  display: flex;
  margin-bottom: -4px;
}

.cardRoom_body {
  position: relative;
  transition: 0.8s;
}
.cardRoom_body .descriptionContainer {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 10000;
  visibility: hidden;
  color: #E0FBFC;
  filter: brightness(1.5);
}
.cardRoom_body img {
  width: 480px;
  height: 400px;
  transition: 0.8s;
}

.cardRoom_body:hover img {
  filter: brightness(40%);
}

.cardRoom_body:hover .descriptionContainer {
  visibility: visible;
}

.servicesOffered, .awardsTitle {
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 2em;
}

.titleServices {
  background-color: #3D5A80;
  color: #E0FBFC;
  padding: 1em;
}

.serviceGroup {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #E0FBFC;
}
.serviceGroup img {
  filter: invert(100%);
  border-radius: 0.5em;
  transition: 0.8s;
}
.serviceGroup img:hover {
  background-color: #EE6C4D;
}

.awardsWon {
  background-color: #293241;
  color: #E0FBFC;
  padding: 1em;
}

.whatWeWon {
  display: flex;
  justify-content: space-around;
}
.whatWeWon span {
  font-size: 1.5em;
  padding: 1em;
  display: block;
}

.footer {
  background-color: #3D5A80;
  color: #E0FBFC;
}
.footer .socialNetwork {
  display: flex;
  justify-content: end;
  padding: 1em;
  float: right;
}
.footer .socialNetwork img {
  filter: invert(100%);
  padding: 1em;
  width: 8%;
  height: auto;
}
.footer .address {
  padding: 0.3em;
}

.groupBio {
  display: flex;
}
.groupBio img {
  width: 100%;
  height: auto;
  float: left;
}
.groupBio p {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 3em;
  margin: 1em;
  padding: 0.8em;
}

.cityBio {
  display: flex;
}
.cityBio .imagesCity img {
  width: 800px;
  height: 700px;
}
.cityBio p {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 3em;
  margin: 1em;
  padding: 0.8em;
}

.rates {
  text-align: center;
  padding: 5em;
}

.ratesTitle {
  text-align: center;
  font-size: 25px;
}

.formRates {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.formRates label, .formRates .submit, .formRates input, .formRates select {
  padding: 0.4em;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}
.formRates input {
  border-radius: 0.2em;
  border: 1px solid #3D5A80;
  background-color: #98C1D9;
}
.formRates select {
  margin-bottom: 0.3em;
  background-color: #98C1D9;
  border-radius: 0.2em;
  border: 1px solid #3D5A80;
}
.formRates #submit {
  transition: 0.8s;
}
.formRates #submit:hover {
  background-color: #293241;
  color: #E0FBFC;
  border: 1px solid #E0FBFC;
}

.headerMobile {
  background-color: #293241;
  box-shadow: 1px 1px 5px 0px gray;
  position: sticky;
  top: 0;
  width: 100%;
}

.logoMobile {
  display: inline-block;
  color: #fff;
  font-size: 60px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.navMobile ul {
  list-style: none;
}

/* Nav menu */
.navMobile {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #293241;
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: #293241;
}

.menu a:hover {
  background-color: gray;
}

.navMobile {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */
.hamb-line {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.error {
  padding: 4em;
}

@media (min-width: 720px) and (max-width: 1750px) {
  .roomContainer {
    display: block;
  }
  .roomContainer .cardRoom_body img {
    width: 100%;
    height: auto;
    margin: -4px;
    transition: 0.8s;
  }
  .groupBio {
    display: block;
  }
  .groupBio img {
    width: 50%;
    height: auto;
  }
  .cityBio {
    display: block;
  }
  .imagesCity {
    text-align: center;
  }
  form {
    display: grid;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  nav #logo {
    width: 70%;
    height: auto;
  }
  .overlay {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 719px) {
  .headerMobile {
    display: block;
    z-index: 100000;
    position: absolute;
  }
  .headerMobile .logoMobile {
    visibility: hidden;
  }
  .navBarDesktop {
    display: none;
  }
  .overlay {
    top: 9%;
    left: 6%;
  }
  .menu li {
    font-family: "Lato", sans-serif;
    color: #E0FBFC;
    font-size: 20px;
    padding: 1em;
  }
  video {
    margin-top: -10px;
    max-width: 375px;
  }
  .greetings p {
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    line-height: 3em;
  }
  .roomContainer {
    display: block;
  }
  .roomContainer .descriptionContainer {
    color: #293241;
    visibility: visible;
    filter: none;
    position: initial;
  }
  .roomContainer .cardRoom_body img {
    max-width: 375px;
    object-fit: cover;
  }
  .serviceGroup {
    display: flex;
    flex-direction: column;
  }
  .whatWeWon {
    flex-direction: column;
  }
  .groupBio {
    display: block;
  }
  .descriptionBio p, .descriptionCity p {
    font-size: 1em;
  }
  .cityBio {
    display: block;
  }
  .cityBio .imagesCity img {
    width: 375px;
    height: auto;
  }
  .formRates {
    display: block;
  }
  .formRates form {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
